.menu-item{
    color: black;
    border-bottom: 2px solid transparent;
    transition: border-color 300ms, display 1s;
    position: relative;
}

.link {
    color: black;
}

.menu-item:hover{
    border: solid;
    border-right: none;
    border-left: none;
    border-top: none;
    border-width: 2px;
    border-color: red;
}

.menu-item:hover .hover-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.hover-box{
    position: absolute;
    display: none;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 5px;
    top: calc(100% + 5px);
    left: 20%;
}

.hover-item{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
}

.hover-item:hover{
    border-color: red;
}
