body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 240, 230);
    font-size: 20px;
    margin-top: 50px;
}

.todo-box{
    padding: 50px;
    border-radius: 1px;
    background-color: wheat;
    border: solid 2px black;
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#todos-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    input, button{
        padding: 8px 16px;
        font-size: 18px;
    }

    button{
        background-color: rgb(102, 102, 206);
        border: none;
        border-radius: 2px;
        color: white;
        cursor: pointer;
        transition: background-color 500ms;
    }

    button:hover{
        background-color: blue;
    }
}

.todo{
    display: flex;
    padding: 10px;
    background-color: white;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;

    span{
        cursor: pointer;
        overflow-wrap: normal;
    }

    .span-completed {
        text-decoration: line-through;
    }

    button{
        background-color: rgb(244, 40, 40);
        border: none;
        border-radius: 2px;
        padding: 6px 12px;
        color: white;
        cursor: pointer;
        transition: background-color 500ms;
    }

    button:hover{
        background-color: rgb(189, 0, 0);
    }
}